language: php

php:
  - 5.4
  - 5.5
  - 5.6

services:
  - mysql

cache:
   directories:
     - $HOME/.composer/cache

before_install:
  - mysql -e "create database IF NOT EXISTS kcms;" -uroot

notifications:
  webhooks:
    - https://coveralls.io/webhook?repo_token=$COVERALLS_TOKEN

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev
  - cp ./test/CiConfig.template.php ./Config.php
  - ./vendor/bin/doctrine orm:schema-tool:create

script:
  - vendor/bin/phpunit --verbose --coverage-text --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v

before_deploy:
  - composer install --no-ansi --no-dev --no-interaction --no-progress --no-scripts --optimize-autoloader
  - zip -r kairet-cms-$TRAVIS_TAG.zip ./ -x *.git*

deploy:
  provider: releases
  api_key:
    secure: A5JRDBU9zrgI+DYfydgmQUrRosi5l1bCjibBADiAISkU+nF3Rk0QDloH6o4w23DMS8cp4oeyDaR9kZwhs1pD94bkDNQpW3/oNn7VqPNwqZmFGxSd3gLhOBwzxvCJFeeE6Scl9J0e6FOhqwZPf5qzus5hIIhs/7Efhn3QvYeA+0hfxSkFKmbNUm2YtboPRl5eApAT2fdAF8hENqe9In5wSnOOknxMXTxNf7XaHsYYu0j7dNqss+KL3noXvYKUonfvORyOb1wXifAAZQefJFhkdz2nbUOlqVB3oqYx2Ykzo3ess7KDgzyC4bHs9z8oi3l3kHs/4yanK49bWIZ6BykWZLXLWokkuRXX/ozZif+UHOoP8emFZEUJjPfZmR02EVibNnxntQKTMcq/xFOvJ1NetCbelRgC0YMUT1u4mokbp5Kkj9d/mhspyzXyyI85i5eWvtaSaqF/GPx06BWRfqF4L3xfOuxCa0AeVWC7PH91k/eFkSC0cxLd1ka3BsxSYf9UH0iHoLC8a4qFOAGlVfAaIx/bt+ueNAoT9BUQuxNaouHltPVTugbyq+RyJqZjRYqCE6jfaExDgqtzVtHuEL5SOTsO/3lCjvNjQJ8CeiaWPdFnn2p6VZZZx57ALsCY6rxOl4zgH3SlNATeHhTMXq/QG+quaTrFXCGXQf9N67aiq7k=
  file: kairet-cms-$TRAVIS_TAG.zip
  on:
    repo: kairet/kairet-cms
    tags: true
    branch: master
